.Heading{
    text-align: left;   
    width:100%;
    
   }
   .Heading h3{
    display:inline;
    text-decoration: wavy;
    line-height: 3px;
   }
   .Heading button{
       float: right;
   }
   .BIGIMG{
       width: 100%;
   }
   #Footer{
       width: 100%;
       font-size:18px;
   }